* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    /* background-image: url(../img/pexels-pixabay-534216.jpg); */
    background-size: cover;
    background-repeat : no-repeat;
}

table, th, td {
    border:1px solid #ccc;
    text-align: center;
}
th, td {
    width:86px;  /* 셀의 너비 */
    height: 42px;
}


/* --- 컨테이너 --- */
#container {
    width: 1200px;
    height: 969px;
}
    /* --- 헤더 --- */
    #header {
        position: relative;
        width: 1000px;
        height: 480px;
        margin-left: 100px;
    }

        #header .title {
            width: 600px;
            height: 70px;
            margin-left: 200px;
            border: 1px solid gray;
            text-align: center;
            padding-top: 10px;
        }

        #header .board {
            width: 900px;
            height: 400px;
            margin-left: 50px;
            margin-top: 10px;
            border: 1px solid gray;
        }
            #header .board .line_one {
                float: left;
                width: 440px;
                height: 400px;
                text-align: center;
            }

            .board::after {
                clear: both;
                content: "";
                display: table;
            }

            .line_one .stock_name {
                position: absolute;
                left: 9%;
            }

            .line_one .price {
                position: absolute;
                left: 24%;
            }

            .line_one .change {
                margin-right: 27px;
                float: right;
                margin-top: 4px;
            }


            #header .board .line_two {
                float: right;
                width: 440px;
                height: 400px;
                text-align: center;
            }

            .line_two .stock_name {
                position: absolute;
                left: 55%;
            }

            .line_two .price {
                position: absolute;
                left: 70%;
            }

            .line_two .change {
                margin-right: 27px;
                float: right;
            }

            #header .board .item_name {
                width: 400px;
                height: 70px;
                margin: 13px;
                font-size: 20px;
            }
    /* --- 메인 --- */
    #main {
        width: 1000px;
        height: 480px;
        margin-left: 100px;
        margin-top: 9px;
    }
        
        #main .myitem {
            float: left;
            width: 445px;
            height: 480px;
            margin-left: 50px;
            border: 1px solid gray;
        }

            .myitem .choice {
                width: 435px;
                height: 100px;
                margin-left: 5px;
                margin-top: 25px;
                text-align: center;
                padding: 29px;
                font-size: 30px;    
                border: 1px solid gray;
            }

            .myitem .buy {
                position: relative;
                width: 435px;
                height: 100px;
                margin-left: 5px;
                margin-top: 10px;
                border: 1px solid gray;
            }
            
            #buy {
            width: 300px;
            height: 70px;
            margin-top: 15px;
            margin-left: 25px;
            font-size: 40px;
            text-align: end;
            }

            .buy_btn {
                position: absolute;
                bottom: 13px;
                right: 9px;
                width: 88px;
                height: 70px;
            }

            .myitem .asset {
                width: 435px;
                height: 100px;
                margin-left: 5px;
                margin-top: 10px;
                text-align: center;
                font-size: 30px;
                border: 1px solid gray;
                padding: 28px;
            }

            .myitem .sell {
                position: relative;
                width: 435px;
                height: 100px;
                margin-left: 5px;
                margin-top: 10px;
                border: 1px solid gray;
            }

                #sell {
                    width: 300px;
                    height: 70px;
                    margin-top: 15px;
                    margin-left: 25px;
                    font-size: 40px;
                    text-align: end;
                    }
    
                .sell_btn {
                    position: absolute;
                    bottom: 13px;
                    right: 9px;
                    width: 88px;
                    height: 70px;
                }
    
            
        
        #main .itemlist {
            float: right;
            width: 445px;
            height: 480px;
            margin-right: 50px;
            border: 1px solid gray;
        }

            .itemlist .list_title {
                width: 435px;
                height: 45px;
                margin-left: 5px;
                margin-top: 10px;
                text-align: center;
                border: 1px solid gray;
            }
            .itemlist .mylist {
                width: 445px;
                height: 400px;
                margin-top: 10px;
                list-style: none;
                border: 1px solid gray;
            }

@media (max-width:601px) {
    table, th, td {
        border:1px solid #ccc;
        text-align: center;
    }
    th, td {
        width: 72px;
        height: 30px;
    }
    
    
    /* --- 컨테이너 --- */
    #container {
        width: unset;
        height: unset;
    }
        /* --- 헤더 --- */
        #header {
            position: unset;
            width: unset;
            height: unset;
            margin-left: unset;
        }
    
            #header .title {
                width: unset;
                height: unset;
                margin-left: unset;
                border: unset;
                text-align: center;
                padding-top: unset;
            }
    
            #header .board {
                width: unset;
                height: unset;
                margin-left: unset;
                margin-top: unset;
                border: unset;
            }
                #header .board .line_one {
                    float: unset;
                    width: unset;
                    height: unset;
                    text-align: center;
                }
    
                .board::after {
                    clear: both;
                    content: "";
                    display: table;
                }
    
                .line_one .stock_name {
                    position: unset;
                    left: unset;
                }
    
                .line_one .price {
                    position: unset;
                    left: unset;
                }
    
                .line_one .change {
                    margin-right: unset;
                    float: unset;
                    margin-top: unset;
                }
    
    
                #header .board .line_two {
                    float: unset;
                    width: unset;
                    height: unset;
                    text-align: center;
                }
    
                .line_two .stock_name {
                    position: unset;
                    left: unset;
                }
    
                .line_two .price {
                    position: unset;
                    left: unset;
                }
    
                .line_two .change {
                    margin-right: unset;
                    float: unset;
                }
    
                #header .board .item_name {
                    width: 339px;
                    height: 30px;
                    margin: 5px;
                    font-size: 15px;
                }
        /* --- 메인 --- */
        #main {
            width: unset;
            height: unset;
            margin-left: unset;
            margin-top: unset;
        }
            
            #main .myitem {
                float: unset;
                width: unset;
                height: unset;
                margin-left: 4px;
                /* border: 1px solid gray; */
                text-align: center;
                padding: 0px 22px;
            }

            .myitem::after {
                clear: both;
                content: "";
                display: table;
            }

                #choice_stock {
                    margin-bottom: 5px;
                }
    
                .myitem .choice {
                    width: unset;
                    height: unset;
                    margin-left: unset;
                    margin-top: unset;
                    text-align: center;
                    padding: unset;
                    font-size: unset;    
                    border: unset;
                }
    
                .myitem .buy {
                    position: unset;
                    width: unset;
                    height: unset;
                    margin-left: unset;
                    margin-top: unset;
                    border: unset;
                    
                }
                
                #buy {
                margin-top: unset;
                margin-left: unset;
                font-size: unset;
                text-align: end;
                float: left;
                width: 100px;
                height: 50px;
                margin-right: 5px;
                }
    
                .buy_btn {
                    position: unset;
                    bottom: unset;
                    right: unset;
                    float: left;
                    width: 60px;
                    height: 50px;
                    margin-right: 5px;
                }
    
                .myitem .asset {
                    width: unset;
                    height: unset;
                    margin-left: unset;
                    text-align: center;
                    font-size: unset;
                    border: unset;
                    padding: unset;
                    margin-top: 60px;

                }
    
                .myitem .sell {
                    position: unset;
                    width: unset;
                    height: unset;
                    margin-left: unset;
                    margin-top: unset;
                    border: unset;
                }
    
                    #sell {
                        margin-top: unset;
                        margin-left: unset;
                        font-size: unset;
                        text-align: end;
                        float: left;
                        width: 100px;
                        height: 50px;
                        margin-right: 5px;
                        }
        
                    .sell_btn {
                        position: unset;
                        bottom: unset;
                        right: unset;
                        float: left;
                        width: 60px;
                        height: 50px;
                        margin-right: 5px;
                    }
        
                
            
            #main .itemlist {
                float: unset;
                width: unset;
                height: unset;
                margin-right: unset;
                border: unset;
            }
    
                .itemlist .list_title {
                    width: unset;
                    height: unset;
                    margin-left: unset;
                    margin-top: unset;
                    text-align: center;
                    border: unset;
                }
                .itemlist .mylist {
                    width: unset;
                    height: unset;
                    margin-top: unset;
                    list-style: none;
                    border: unset;
                }
}